/* HEADER */

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(58, 160, 183)
}

.logo {
    margin-top: 20px;
    width: 200px;
}

/* PRIMO BLOCCO */

h1 {
    color: black;
    margin-top: 40px;
}

.first-block {
    line-height: 0%;
    color: darkgrey;
}

#booleaner {
    color: darkcyan;
}

#exercitation {
    background-color: gold;
}


#data {
    font-size: x-small;
}

.second-block {
    line-height: 0%;
}

/* TERZO BLOCCO */

.third-block {
    background-color:cadetblue;
}

th {
    color: white;
}

.first-line {
    background-color: darkgrey;
}

#uno {
    width: 25%;
}

#due {
    width: 25%;
}

#tre {
    width: 50%;
}

.size {
    font-size: smaller;
}